redeploy_version            = "v1"
project_name                = "heritage-lens"
project_id                  = "heritage-lens-461913"
project_id_number           = "69116701214"
region                      = "us-central1"
zone                        = "us-central1-a"
cidr_range                  = "10.10.0.0/24"
vm_image                    = "ubuntu-os-cloud/ubuntu-2204-lts"
secret_name_cert_fullchain  = "{your SSL cert's secret name}"
secret_name_cert_privatekey = "{your SSL cert's private key's secret name}"
domain                      = "example.com" // If this not available, leave it as it is. You still can access your app with VM's public IP. It is just that it will show warning message about SSL's ownership.
